.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 163, 163, 0.459);
    display: grid;
    justify-content: center;
    align-content: center;
}

.form {
    width: 30rem;
    height: 30rem;
    background-color: rgb(179, 179, 179);
    border-radius: 1rem;
}

.submit {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 2rem;
    border: none;
    background-color: #d6ae1f;
}