.table {
    grid-row: 2;
    display: grid;
    grid-auto-rows: min-content;
    background-color: rgb(245, 245, 245);
}

.columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
}

.column {
    height: 2rem;
    padding: 0.5rem;
    line-height: 1rem;
    font-size: .8rem;
    font-weight: 500;
    border: 0.01rem solid rgb(160, 160, 160);
    background-color: rgb(245, 245, 245);
    border-top: none;
    border-left: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.column:first-child {
    width: 5rem;
    min-width: max-content;
}

.column:last-child {
    width: 8rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}