* {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root, .App {
  width: 100vw;
  height: 100vh;
  background: rgb(73, 73, 73);
}

button {
  cursor: pointer;
}